# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
NFT_Master___web_app___/node_modules
NFT_Master___web_app___/.env
NFT_Master___web_app___/firebase_credentials.json


NFT_Master___web_app___/client/node_modules
NFT_Master___web_app___/client/build

cloud_function/__pycache__
cloud_function/google_client_creds.json
cloud_function/.env

/.pnp
.pnp.js

# testing
/coverage

# production
/build

# misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local

npm-debug.log*
yarn-debug.log*
yarn-error.log*
